--- 
layout: 'base' 
---

<a href="../"><< back to home</a>

<h2>{{title}}</h2>

{{content | safe}}

{%-set topics = collections[courseCode] | selectOnly('topic') | sort(false, false, "data.topicId") -%}

<ul>
{% for topic in topics %}

    {%set pages = collections[courseCode] | selectOnly('page') | hasId('topic', topic.data.topicId) | sort(false, false, "data.pageId") %}

    <li><a href="{{topic.url}}">{{topic.data.title}}
        <ul>
            {%for page in pages%}
            <li><a href="{{page.url}}">{{page.data.title}}</a></li>
            {%endfor%}
        </ul>
    </li>
{%endfor%}
</ul>
