--- 
layout: 'base' 
---

<h2>{{title}}</h2>

{{content | safe}}

{%-set courseContent = collections[courseCode] -%}

<ul>
    {%- for topic in courseContent -%}
    {%- if topic.data.tags.includes('topic') -%}
        <li><a href="{{topic.url}}">{{topic.data.title}}</a>
        <ul>
            {% for page in courseContent %}
            {% if page.data.tags.includes('page') and page.data.topicId == topic.data.topicId%}
                <li><a href="{{page.url}}">{{page.data.title}}</a></li>
            {% endif%}
            {% endfor %}
        </ul>
        </li>
    {%- endif -%}
    {%- endfor -%}
</ul>

<br>

<a href="../"><< back to home</a>