---
layout: 'base'
---

<a id="top">
<a href="../">back to course</a>


<h2>{{title}}</h2>

<div class="page-links">
    {%set pages = collections[tags[0]] | selectOnly('page') | hasId('topic', topicId)%}

    {%set prevpage = pages | hasId('page', pageId - 1) | first%}
    {%set nextpage = pages | hasId('page', pageId + 1) | first%}

    {% if prevpage%}
    <a href="{{prevpage.url}}" class="prevlink"> << {{prevpage.data.title}}</a>
    {% endif %}

    {% if nextpage %}
    <a href="{{nextpage.url}}" class="nextlink">{{nextpage.data.title}} >> </a>
    {% endif %}
</div>

{{content | safe}}

<br>

<a href="#top">Back to top</a>



