--- 
layout: 'base' 
---
<h3>{{title}}</h3>

{{content | safe}}

{%set pages = collections[tags[0]] | selectOnly('page') | hasId('topic', topicId)%}

<ul>
    {%- for page in pages | sort(false, true, "data.pageId") -%}
    <li><a href="{{page.url}}">{{page.data.title}}</a></li>
    {%- endfor -%}
</ul>

<br><a href="../"><< back to course</a>