---
title: 'DSC: Solid State Physics'
layout: 'page'
tags: ['course', 'dsc', 'physics']
---

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil doloremque reiciendis quaerat hic voluptas sequi, delectus dolore. Unde, temporibus voluptatibus.