--- 
title: crow physics 
layout: base 
---

<img src="/assets/logobig.png" alt="crow physics logo, a crow" width="20%">
<br><br>

<p>
    Crow Physics is a collection of pages covering the content of the undergraduate degree in physics at the University of Delhi.
</p>

<ul>
    {%- for course in collections.course -%}
        <li>
            <a href="{{course.url}}">{{course.data.title}}</a>
            <span id="note">({{course.data.courseStatus}})</span>
        </li>
    {%- endfor -%}
</ul>